p,
h1,
h2 {
  text-align: center;
}
hr {
  height: 20px;
  width: 70%;
  background-color: green;
}
img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
  /*I am currenlty not sure whether to add this border as the image does not show 1px solid green border*/
  width: 400px;
  height: 300px;
}

ol {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}
