@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
  margin: 0;
}

body {
    background-color: #1e2124;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.size_bg {
  height: 100%;
  background: url("./images/shashin_majin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: brightness(100%);
 
}

.typing_header {
  color: #ffffff;
  font-size: 500%;
  margin: 0px;
  padding: 0px;
  
}

.typing_header_2 {
  color: #c5c5c5;
  font-size: 235%;
  text-decoration-line: overline;
  text-decoration-color: rgb(71, 71, 71);
  margin: 20px;

}

.navigation {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 1);
  justify-content: flex-end;
  font-size: 25px;
  justify-content: space-evenly;
  position: relative;
  color: white;
}

.current_page {
  text-decoration-line: underline;
}

#introduction_header {
    text-align: center;
    font-size: 3.5em;
    padding-top: 50px;
    color: #c4c4aa;

    font-family: "Inter"
    

}

.keyboard_intro_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 700px;
    box-shadow: 10px 20px 20px black;

}

#display_paragraph {
    font-size: 100px;


}

#img_kuro {
    height: 500px;
    margin-right: 100px;
    display: inline-block;
}

#para_intro_length {
    width: 65ch;
    font-weight: bold;
}

svg {
    margin-top: 50px;
    margin-bottom: 0;
    
}

.flex_container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

img[src="./images/kuro_shiro.jpg"] {
  box-shadow: 10px 20px 20px black
}

img[alt="switch"] {
  position: relative;
  height: 150px;
  top: 290px;
  left: 760px;
}

img[alt="switch1"] {
  position: relative;
  height: 150px;
  top: 290px;
  left: 70px;
}

.white_section {
  background-color: white;
  position: relative;
  bottom: 4px;

}

.discord_gray {
  color:rgb(71, 71, 71);
  text-align: center;
  font-size: 60px;
}

